<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.paulcouach.wallpaper-cycle</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__HOME__/.config/wallpaper-colors/wallpaper_cycle.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>600</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__HOME__/.config/wallpaper-colors/cycle.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/.config/wallpaper-colors/cycle.log</string>
</dict>
</plist>
